@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-white antialiased; /* dark mode default */
}

@media (prefers-color-scheme: light) {
  body {
    @apply bg-white text-gray-900;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
